@import 'Defaults';

.grey-block {
  padding-top: 98px;
  padding-bottom: 48px;
}
.carousel-h1 {
  height: 90px;
}

.car-img-container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-down(md) {
    height: 365px;
  }
}
.car-img-container img {
  border-radius: 15px;
  max-height: 80%;
  @include media-breakpoint-down(lg) {
    border-radius: 10px;
    max-width: 90%;
    height: 365px;
    object-fit: cover;
  }
  box-shadow: $shadow;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}
.car-img-container .selected {
  max-height: 100%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  @include media-breakpoint-down(md) {
    height: 365px;
    object-fit: cover;
  }
}
.dots-div {
  padding: 35px 0px 40px 0px;
}
.dots-div span {
  height: 8px;
  width: 8px;
  background-color: $blue;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  opacity: 0.5;
}
.dots-div .dot-selected {
  opacity: 1;
  height: 9px;
  width: 9px;
}
