@import 'Defaults';

.contact-container {
  padding-bottom: 50px;
}
.contact-container h1 {
  padding-top: 100px;
}
.contact-container h2 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-text {
  background-color: $header-grey;
}
